* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

    height: 100%;
    width: 100%;
}

/* body::-webkit-scrollbar {
    display: none;
} */

@font-face {
    font-family: banana;
    src: url("./fonts/banana-grotesk-regular.ttf");
}

@font-face {
    font-family: circular;
    src: url("./fonts/CircularSp-Book-4eaffdf96f4c6f984686e93d5d9cb325.ttf");
}

@font-face {
    font-family: banana-semi;
    src: url("./fonts/banana-grotesk-semibold.ttf");
}

@font-face {
    font-family: banana-extrabold;
    src: url("./fonts/banana-grotesk-extrabold.ttf");
}

@font-face {
    font-family: cako;
    src: url("./fonts/cako-regular.ttf");
}

@font-face {
    font-family: cako-regular;
    src: url(./fonts/cako-regular-italic.ttf);
}

@font-face {
    font-family: Eina03-SemiBold;
    src: url(fonts/Eina03-SemiBold.ttf);
}

@font-face {
    font-family: Eina03-Bold;
    src: url(fonts/Eina03-Bold.ttf);
}

@font-face {
    font-family: Eina03-Regular;
    src: url(fonts/Eina03-Regular.ttf);
}

.main {
    width: 100%;
    height: 100vh;
    /* font-family:Eina03-SemiBold ; */
    /* font-family: banana; */
    font-family: circular;
}

.header {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100%;
    /* background-color: rgb(51, 51, 51); */
    /* background-image: url(https://world5.c/ommonsupport.com/2017/valencia/images/main-slider/1.jpg); */
    /* background-image: url(./images/car.png); */
    /* background-image: url(https://duruthemes.com/demo/html/renax/dark/img/slider/12.jpg); */
}

.header .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    /* z-index: 99; */
    background-color: rgba(0, 0, 0, 0.525);
}

.navbar {
    width: 100%;
    position: relative;
    z-index: 99;
    height: 11vh;
    /* background-color: #181818; */
    /* background-color: #0e0e0e; */
    /* background-color: #161417; */
    background-color: #081b29;
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 3vw;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 15vw;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.logo img {
    width: 12vw;
    /* height: 100%; */
    object-fit: contain;
    object-position: center;
}

.menu {
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.items {
    position: relative;
    width: auto;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items a,
.whatsapp a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1vw;

    transition: all .5s;
}

.whatsapp {
    width: 16vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hover Effects */
.whatsapp i {
    font-size: 1.5vw;
    margin-right: .5vw;
}

.button_toggle {
    display: none;
}

.whatsapp>a {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    padding: .7vw 1.7vw;
    background-color: rgb(0, 101, 203);
    border-radius: 5px;
    font-size: 1vw;
    text-transform: uppercase;
    /* font-family: Eina03-Bold; */
    box-shadow: 6px 6px 0px 0vw rgb(255, 232, 57);
    /* color: #FFE839; */
}

.whatsapp>a:hover {
    box-shadow: 0px 0px 0px 0vw rgb(255, 232, 57);
    background-color: rgb(255, 232, 57);
    color: rgb(0, 101, 203);
}

/* animation of nav */
.items::before {
    content: "";
    position: absolute;

    width: 100%;
    bottom: -7%;
    /* background-color: #99ffe9; */
    background-color: rgb(255, 232, 57);
}

.items:hover::before {
    animation: a .7s cubic-bezier(0.19, 1, 0.22, 1) both;
}

.items:hover>a {
    /* color: #99ffe9; */
    color: rgb(255, 232, 57);
}

@keyframes a {
    from {
        height: 0%;
    }

    to {
        height: .5vh;
    }

}

/* end of animation of navbar */
/* service part popup */

#serviceItem {
    flex-direction: column;

}

#serviceItem:hover .services {
    display: flex;
    /* transition: all .5s; */
    animation: b .4s both;
}

@keyframes b {
    from {
        top: 6vh;
        opacity: 0;
    }

    to {
        top: 3.5vh;
        opacity: 1;
    }


}

.services {
    width: 12vw;
    height: auto;
    display: none;
    /* border:1px solid #5b5b5bf3; */
    position: absolute;
    top: 7vh;
    border-radius: 2px;
    padding: .2vw .6vw;
    left: -1vw;
    flex-direction: column;
    background-color: #081b29;
    justify-content: space-evenly;

}

.services .item1 {
    width: 100%;
    height: auto;
    margin: .5vw 0;
    display: flex;
    padding: .5vw;
    align-items: center;
    /* padding-top: .5vw; */
    text-decoration: none;
    transition: all .4s;
}

.item1:hover a {
    /* background-color: #99ffe936; */
    text-shadow: 0px 0px 7px rgb(255, 232, 57);
    /* background-color: rgba(255, 232, 57, 0.223); */
    /* color: #081b29; */
}

.swiper {
    width: 100%;
    height: 89vh;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* FFC251 */
}

.swiper-button-next,
.swiper-button-prev {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    background-color: #ffffff1b;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: #fff;
    font-size: 1vw;

}

.btn_animate {
    width: 0%;
    height: 00%;
    position: absolute;
    z-index: -1;
    transition: .5s;
    background-color: #8c3939;
    background-size: cover;
    filter: brightness(.7);
    background-position: center;
}

#btn_animate {
    background-image: url(./images/photo-1652515636740-78d2fd9169cf.avif);
}

#btn_animate1 {
    background-image: url(./images/bg_1st.jpg);
}

.swiper-button-next:hover #btn_animate {
    width: 100%;
    border-radius: 100%;
    height: 100%;
}

.swiper-button-prev:hover #btn_animate1 {
    width: 100%;
    border-radius: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 89vh;
    position: absolute;
    z-index: 999;
    /* background-color: #fff; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_text2 {
    /* text-align: initial; */
}

.text2 h4 {
    color: #fff;
    margin-left: .3vw;
    font-size: 1.2vw;
    margin-bottom: .5vw;
}

.text2 {
    width: 80%;
    padding-top: 3vw;
    height: 55vh;
    /* background-color: #8c3939; */
}

.text h1 {
    font-size: 4vw;
    color: #fff;
}

.text span {
    color: #FFE839;
}

.text p {
    font-size: 1.7vw;
    margin-bottom: 2vw;
    color: #fff;
}

.text .btn a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    position: relative;
    z-index: 9;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: rgb(0, 101, 203); */
    /* box-shadow: 6px 6px 0px 0px rgb(255, 232, 57); */
    transition: all .5s;
}
.text .btn{
    width: fit-content;
    height: fit-content;
}
.content .top_btn_layer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_layer {
    background-color: #FF9900;
    width: 11vw;
    height: 6vh;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text .new_btn_effect::after {
    content: "";
    width: 0%;
    height: 50%;
    position: absolute;
    top: 0;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
    left: 0;
    background-color: #081b29;

}
.text .new_btn_effect::before {
    content: "";
    width: 0%;
    height: 50%;
    position: absolute;
        transition: cubic-bezier(0.19, 1, 0.22, 1) .5s;
    bottom: 0;
    right: 0;
    background-color: #081b29;
    
}

.btn:hover .btn_layer::before{
 width: 100%;

}
.btn:hover .btn_layer::after {
    width: 100%;

}
.text2 p {
    font-size: 1.5vw;
}

.btn_text2 {
    margin-top: 2.5vw;
}

.btn_text2 a {
    text-decoration: none;
    color: #fff;
    padding: .5vw 1.5vw;
    background-color: green;
    transition: .3s;
    border: 2px solid green;
    border-radius: 1px;
}

.btn_text2 a:hover {
    background-color: black;
    font-weight: 560;
}

.btn_text2 .btn_2 {
    margin-left: 1.5vw;
    background-color: #fff;
    color: grey;
    border-color: #fff;
}

.btn_text2 .btn_2:hover {
    background-color: grey;
    font-weight: 560;
    color: #fff;
    border-color: grey;
}

/* .text .btn a:hover {
    box-shadow: 0px 0px 0px 0px rgb(255, 232, 57);
    background-color: rgb(255, 232, 57);
    color: rgb(0, 101, 203);
} */

.btn i {
    font-size: 1.5vw;
    margin-right: .5vw;
}





/* section1 */

.page1 {
    width: 100%;
    height: 100vh;
    background-color: #1B1B1B;
}

.page1 .part1 {
    width: 100%;
    height: 100%;
    display: flex;

}

.page1 .left {
    width: 40vw;
    height: 100%;
    background-color: #8c3939;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}

.page1 .table {
    width: 24vw;
    height: 63vh;
    /* background-color: #fff; */
}

.page1 .table form {
    width: 100%;
    height: 100%;
    background-color: #1B1B1B;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    gap: 40px;
    /* align-items: flex-start; */
    justify-content: center;
    border-radius: 15px;
}

.table input {
    padding: 1vw;
    background: none;
    border: none;
    color: #fff;
    /* font-size: 1vw; */
    font-family: eina03-semibold;
    letter-spacing: 2px;
    border-bottom: 1px solid #fff;
}

input::placeholder {
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #fff;
}

input:focus {
    outline: none;
}

.btn_form {
    padding: 1.3vw 1vw;
    font-size: 1vw;
    border: none;
    border-radius: 4vw;
}

select {
    font-family: eina03-semibold;
    padding: .5vw;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1vw;
    cursor: pointer;
}

select:focus {
    outline: none;
}

option {
    background-color: #1B1B1B;
    outline: none;
    border: none;
}

option:focus {
    outline: none;
    background-color: #8c3939;
}

select:hover {
    background-color: #8c3939;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
} */



/* section 2  car own*/


#section2 {
    width: 100%;
    height: 60vh;
    position: relative;
    flex-direction: column;
    background-image: url(./images/bg_new.jpg);
    background-size: cover;
    /* background-color: #1B1B1B; */
    /* color: #fff; */
    /* align-items: flex-start; */
    /* background-color: #292929; */

}

#section2 .div h1 {
    margin-bottom: 4vw;
    font-size: 3vw;
}

#section2 .div h1 span {
    color: #c248ff;
}

.car_own {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    /* margin-bottom: 5vw; */

}

.car_own_cont {
    width: 300vw;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
}

.car_own_box {
    width: 10vw;
    height: 10vw;
    /* border: 1px solid grey; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px 0px rgba(128, 128, 128, 0.771);
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    /* background-image: url(./logo/audi.png); */
}

.car_own_box img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    object-position: center;
}




/* section 3 */

.page3{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #081b29;
    /* background-color: #d5d5d5; */
}
 .LOHITH{
    position: absolute;
    font-size: 5vw;
    color: #5f5f5f;
    opacity: .4;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    letter-spacing: 10px;
    
}
.page3_text{
    width: 100%;
    height: 21vh;
    display: flex;
    z-index: 9;
    position: relative;
    align-items: center;
    justify-content: center;
}
.page3_text h1{
    font-size: 3vw;
    color: #fff;
}
.page3_service{
    width: 100%;
    height: 20vh;
    padding: 5vw 9vw;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.page3_box{
    width: 25vw;
    height: 20vh;
    background-color: #FFE839;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 2vw ;
}